<div>
  <section style="" class="splash-header" style="background-color: red">
    <div layout-align="center center" class="alignCenter md-headline mainHeadline" >
      Hello Guys . 
      Since choosing a CV template and sometimes creating a CV may be a complex Process for someone . 
      Worry no more my dear batchmates , We are creating a CV builder which has been feeded three predefined templates just give your info , TADA your CV is ready !!
    </div>
    <div layout-align="center center" class="alignCenter startBtn">
      <md-button href="#/summary" class="md-raised md-primary material-cust-medium-button" md-colors="{background: 'red'}">Create Your CV Now</md-button>
    </div>

  </section>

  <div class="functionalityIcons">
    <div layout="row" layout-xs="column" layout-align="center center">
      <div id="codefund_ad"></div>
    </div>
    <div layout="row" layout-xs="column">
      <div flex layout="column" layout-align="center center">
        <div class="md-list-item-text">
          <p>
            <md-icon style="color: #F44336;height:100%;width: inherit !important;font-size: 100px;"
                             aria-label="accessibility"
                             ng-class="md-48">
                             list
                          </md-icon>
          </p>
        </div>
        <div><p class="funcText">Fill the details</p></div>
      </div>
      <div flex layout="column" layout-align="center center">
        <div class="md-list-item-text" layout-align="center center">
          <p>
            <md-icon style="color: #3949AB;height:100%;width: inherit !important;font-size: 100px;"
                             aria-label="accessibility"
                             ng-class="md-48">
                             create
                          </md-icon>
            </p>
        </div>
        <div><p class="funcText">Review your details</p></div>
      </div>
      <div flex layout="column" layout-align="center center">
        <div class="md-list-item-text" layout-align="center center">
          <p>
            <md-icon style="color: #FFC107;height:100%;width: inherit !important;font-size: 100px;"
                             aria-label="accessibility"
                             ng-class="md-48">
                             file_download
                          </md-icon>
          </p>
        </div>
        <div><p class="funcText">Download your CV</p></div>
      </div>
    </div>
    
  <div class="demoImageBlock">
    <div layout="row" layout-xs="column">
      <div flex layout="column" layout-align="center center" class="demoImageBlockColumn">
        <div><p class="funcText">Spirit Design</p></div>
        <div class="md-list-item-text">
          <p>
            Demo Unavailable
          </p>
        </div>

      </div>
      <div flex layout="column" layout-align="center center" class="demoImageBlockColumn">
        <div><p class="funcText">Decorative Design</p></div>
        <div class="md-list-item-text" layout-align="center center">
          <p>
            Demo Unavailable
          </p>
        </div>

      </div>
      <div flex layout="column" layout-align="center center" class="demoImageBlockColumn">
        <div><p class="funcText">Formal Design</p></div>
        <div class="md-list-item-text" layout-align="center center">
          <p>
            Demo Unavailable
          </p>
        </div>

      </div>
    </div>
  </div>
  <footer>
      <div layout="row" layout-align="center center">
          <p>Made by <a target="_blank" style="color:red;">Kush Trivedi</a> </p>
          <p>See more projects by me on <a href="https://github.com/kushthedude" target="_blank">GitHub</a></p>
      </div>
  </footer>
</div>
